.text9{
  margin-top: 3vw;
  margin-left: 8vw;
  padding-bottom: 0vw;
  font-family: 'Avenir';
  font-size: 3vw;
  color:#666464;
  font-weight: 400;
}

.subheader{
  margin-top: 0vw;
  margin-left: 8vw;
  font-family: 'Avenir';
  font-size: 1vw;
  color:gray;
}

.moduledetails{
  float: left;
}

.button1{
  padding-left: 72vw;
}

.button2{
  text-align: center;
  width: 10vw;
  height: 2.6vw;
  background-color: white;
  font-size: 1vw;
  font-family: 'Avenir';
  font-weight: 500;
  color: #382ee5;
  border-color: #382ee5;
  border-width: 0.1vw;
  border-radius: 2vw;
}

.myTabs{
  padding-top: 4vw;
  padding-left: 8vw;
}

.uploadfile{
  width: 40vw;
}