.field{
  padding-bottom: 1vw;
}

.field:after{
  content: "";
  display: table;
  clear: both;
}

.fieldtitle{
  font-family: 'Avenir';
  float: left;
  width: 25%;
  margin-top: 2px;
  margin-bottom: 0vw;
  padding-bottom: 0vw;
}

input, select, textarea {
  width: 100%;
  padding: 0.6vw;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button3{
  background-color: #382EE5;
  color:white;
  padding: 0.4vw 1.9vw;
  border-radius: 1vw;
  margin-left: 18vw;
}

.description{
  font-family: 'Avenir';
  font-size: 0.7vw;
  padding-top: 2.5vw;
}