.mytable{
  margin-top: 2vw;
  width: 82vw;
}

table.dataTable tbody tr:hover{
  background-color: #f6f6f6;
}

table.dataTable tbody tr.odd{
  background-color: #f9f9f9;
}

.dataTables_wrapper .dataTables_length{
  padding-top: 1vw;
}

.dataTables_wrapper .dataTables_length select{
  width: 3vw;
}

.dataTables_wrapper .dataTables_filter{
  width: 20vw;
}

.dataTables_wrapper .dataTables_filter input{
  height: 2vw;
  width: 15vw;
}