.Homepagebody{
    height: 100vh;
    background-color:#FDFDFE;
}

.mymodules{
    margin-left: 0vw;
    padding-top: 8vw;
    display: flex;
    height: 4vw;
}

.text4{
    margin-left: 8vw;
    color: #707070;
    font-size: 3vw;
    font-weight: 500;
    font-family: 'Avenir';
}

.right{
    margin-left: 50vw;
}

.addmodule{
    text-align: center;
    width: 10vw;
    height: 2.6vw;
    background-color: white;
    font-size: 1vw;
    font-family: 'Avenir';
    font-weight: 500;
    color: #382ee5;
    border-color: #382ee5;
    border-width: 0.1vw;
    border-radius: 2vw;
    float: left;
}

.text5{
    margin-left: 8vw;
    margin-top: 5vw;
    color: #9b9b9b;
    font-size: 1vw;
    font-family: 'Avenir';
}

.mytable{
    padding-top: 0.4vw;
    position:absolute;
    left:8vw;
    font-family: "Avenir";
    font-size: 1vw;
}

table {
    border-collapse: collapse;
    width: 80vw;
  }

tr{
    cursor: pointer;
}

th, td {
    padding: 0.5vw;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
tbody tr:hover {background-color:#f5f5f5;}

.Codetitle{
    width: 10vw;
}

.Codebody{
    color:#382EE5;
}

.tableOption{
    background-color: transparent;
    color:#382EE5;
    font-weight: 500;
    text-decoration: underline;
}
.buttons{
    margin-top: 1vw;
}

.button5{
    background-color:white;
    color:#382EE5;
    padding: 0.4vw 2.4vw;
    border-radius: 0.5vw;
    margin-left: 2vw;
}

.button4{
    background-color:#382EE5;
    color:white;
    padding: 0.4vw 2.4vw;
    border-radius: 0.5vw;
    margin-left: 9vw;
    float: left;
}